---
- name: creating variables
  hosts: prd
  become: yes
  vars:
    app: apache2

  tasks:

    - name: update catche
      apt:
        update_cache: yes

    - name: install apache2
      apt:
        name: "{{ app }}"
        state: present
      tags: i-install

    - name: disabling nginx
      service:
        name: nginx
        state: stopped
        enabled: no
      tags: stop-nginx

    - name: start apache2 service
      service:
        name: "{{ app }}"
        state: started
        enabled: yes
      tags: check-service

    - name: allowing ports
      ufw:
        rule: allow
        port: 8080
        proto: tcp
        

